#hero .loader {
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#teamHead {
  margin-top: 50px;
}

#moduleHeads {
  margin-top: 120px;
}

/* Team Section */
.team {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}
.section-top {
  width: 500px;
  margin: 0 auto;
}
.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  letter-spacing: 0.2rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.section-title span {
  color: green;
}

/*
#team .team-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
#team .team-item {
  flex-basis: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  text-align: center;
  background-image: url("assets/vivek.jpeg");
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: -1;
  align-content: center;
  justify-content: center;
}
#team .team-item:hover {
  box-shadow: 0 0 10px 0 black;
  filter: grayscale(0);
  transition: 0.3s ease box-shadow;
}
#team .team-bottom .team-item .dp {
  height: 220px;
  width: 200px;
  display: cover;
  margin-bottom: 20px;
  border-radius: 50%;
}
#team.team-bottom .team-item .dp:hover {
  opacity: 0.5;
}
#team .team-item::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  left: 0;
  top: 0;
  z-index: -1;
}
#team h2 {
  letter-spacing: 0.2rem;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  color: white;
  text-align: center;
}*/

/* End of Team Section */

/* For images */

.headImage_container {
  width: 90%;
  height: auto;
  margin: auto;
}

.moduleHead_container {
  width: 60%;
  height: auto;
  margin: auto;
}

.image_container {
  width: 90%;
  height: auto;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
  margin: auto;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

.modColumn {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
  margin: auto;
}

.modColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}

/* Container needed to position the overlay. Adjust the width as needed */
.imgcontainer {
  position: relative;
  width: 100%;
  padding-top: 8px;
  overflow: hidden;
}
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
  /*border: 10px solid #EEE5E5*/
  /*opacity: 0.5;*/
}

.image1 {
  display: block;
  width: 100%;
  height: 250px;
}

.image2 {
  display: block;
  width: 100%;
  height: 600px;
}

.image3 {
  display: block;
  width: 100%;
  height: 500px;
}

.image4 {
  display: block;
  width: 100%;
  height: 400px;
}

.image5 {
  display: block;
  width: 100%;
  height: 450px;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.imgcontainer:hover .overlay {
  opacity: 4;
}

/* Translucent rest */
.image_container:hover img {
  opacity: 0.7;
  transform: ransformY(1px);
}

.image_container:hover img:hover {
  opacity: 1;
  transform: ransformY(1px);
}
/*End of Translucent */

/*zoom effect*/
.imgcontainer:hover img {
  transition: 0.75s ease;
  /*transform: scale(1.02,1.02);*/
  transform: scale(1.08) rotate(0deg);
  filter: greyscale(1);

  overflow: hidden;
  margin-top: 16px;
  /*border: 10px solid #000000;*/
}

/* Blur Effect

.image_container:hover img
 {
  transition: .75s ease;
 -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px); 

}

.image_container:hover img:hover
{
transition: .25s ease;
-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-o-filter: blur(0px);
-ms-filter: blur(0px);
filter: blur(0px); 

}

Blur effect end */

/* Media Query for desktop */
@media only screen and (min-width: 1200px) {
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
<<<<<<< HEAD
}
/* End of image section*/
=======
  .section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .section-title span {
    color: green;
  }
  #team .team-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  #team .team-item {
    flex-basis: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    text-align: center;
    background-image: url("assets/vivek.jpeg");
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: -1;
    align-content: center;
    justify-content: center;
  }
  #team .team-item:hover {
    box-shadow: 0 0 10px 0 black;
    filter: grayscale(0);
    transition: 0.3s ease box-shadow;
  }
  #team .team-bottom .team-item .dp {
    height: 220px;
    width: 200px;
    display: cover;
    margin-bottom: 20px;
    border-radius: 50%;
  }
  #team.team-bottom .team-item .dp:hover {
    opacity: 0.5;
  }
  #team .team-item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 1;
    left: 0;
    top: 0;
    z-index: -1;
  }
  #team h2 {
    letter-spacing: 0.2rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    text-align: center;
  }
  /* End of Team Section */


  /* For images */

.headImage_container{
  width: 90%;
  height: auto;
  margin: auto;
}

.moduleHead_container{
  width: 60%;
  height: auto;
  margin: auto;
}

.image_container {
  width: 90%;
  height: auto;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 8px;
  margin: auto;
}

.column img {
  margin-top: 16px;
  vertical-align: middle;
  width: 100%;
}

.modColumn {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;
  margin: auto;
}

.modColumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.imgcontainer {
position: relative;
width: 100%;
padding-top: 8px;
overflow: hidden;

}
/* Make the image to responsive */
.image {
display: block;
width: 100%;
height: auto;
z-index: 2;
/*border: 10px solid #EEE5E5*/
/*opacity: 0.5;*/
}

.image1 {
  display: block;
  width: 100%;
  height: 250px;
  
}

.image2 {
  display: block;
  width: 100%;
  height: 600px;
  
  }

.image3 {
    display: block;
    width: 100%;
    height: 500px;
    
    }

.image4 {
      display: block;
      width: 100%;
      height: 400px;
      
      }

.image5 {
        display: block;
        width: 100%;
        height: 450px;
        
        }

/* The overlay effect - lays on top of the container and over the image */
.overlay {
position: absolute;
bottom: 0;
background: rgb(0, 0, 0);
background: rgba(0, 0, 0, 0.5); /* Black see-through */
color: #f1f1f1;
width: 100%;
transition: .5s ease;
opacity:0;
color: white;
font-size: 20px;
padding: 20px;
text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.imgcontainer:hover .overlay {
opacity: 4;
}



/* Translucent rest */
.image_container:hover img {
  opacity: 0.7;
  transform: ransformY(1px);
}


.image_container:hover img:hover {
  opacity: 1;
  transform: ransformY(1px);
}
/*End of Translucent */

/*zoom effect*/
.imgcontainer:hover img {
  transition: .75s ease;
  /*transform: scale(1.02,1.02);*/
  transform: scale(1.08) rotate(0deg);
  filter: greyscale(1);
  
  
  overflow: hidden;
  margin-top: 16px;
  /*border: 10px solid #000000;*/
  
}


/* Blur Effect

 .image_container:hover img
   {
    transition: .75s ease;
   -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px); 

}

.image_container:hover img:hover
{
  transition: .25s ease;
-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-o-filter: blur(0px);
-ms-filter: blur(0px);
filter: blur(0px); 

}

Blur effect end */ 




/* Media Query for desktop */
@media only screen and (min-width: 1200px) {
  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}
/* End of image section*/
>>>>>>> 246febebafa34f20d984032994256939a3e27fbc
